<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biblioteca Egg</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
      <link rel="stylesheet" href="/Index.css" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  </head>
<body>
    <header>
    <div class="form-group" style="width:800px; margin:0 auto;">
      <h2>Editar usuario</h2>
    </div>
    </header>
   
    <div class="container">

    <form type="form" th:action="@{/perfil/__${usuario.id}__}" method="POST" enctype="multipart/form-data">


        <input hidden th:value="${id}" name="id">

      <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError" >
        <div class="card-body">
            <h5 class="card-title">Error!</h5>
            <p class="card-text" th:text="${error}"></p>
        </div>
    </div>
    <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
        <div class="card-body">
            <h5 class="card-title">Exito!</h5>
            <p class="card-text" th:text="${exito}"></p>
        </div>
    </div>

  
          <div class="form-group" style="width:800px; margin:0 auto;">
  
              <input type="text" class="form-group" name="nombre" placeholder="Ingrese su nombre" th:value="${usuario.nombre}">
          </div>
          <br>
          <div class="form-group" style="width:800px; margin:0 auto;">
          <input type="email" class="form-group" name="email" placeholder="Ingrese su email" th:value="${usuario.email}">
          </div>
          <br>


          <div class="form-group" style="width:800px; margin:0 auto;">
            <input type="file" class="form-group" name="archivo">
            </div>
            <br>


          <div class="form-group" style="width:800px; margin:0 auto;">
              <input type="password" class="form-group" name="password" placeholder="Ingrese su contraseña" th:value="${password}">
          </div>
          <br>  
          <div class="form-group" style="width:800px; margin:0 auto;">
            <input type="password" class="form-group" name="password2" placeholder="Repita su contraseña" th:value="${password2}">
        </div>
        <br>        
      </div>
    <br>
    <div class="form-group" style="width:800px; margin:0 auto;">
    <button type="submit" class="btn btn-primary mt-3 botones"> Modificar </button>
    </div> 
  </form>
</div>

</body>
</html>